/* -------------------- 
    General
-------------------- */
/* root */
:root {
    --primary-color: #2c3e50;
    --primary-light-color: #345676;
    --secondary-color: #62efcd;
}

/* Typography */
body {
    font-family: "Open Sans", sans-serif;
}

.trademark {
    font-weight: 700;
}

.section-bg h2 {
    font-family: "Playfair Display", serif;
    color: var(----primary-light-color);
    position: relative;
    margin-bottom: 1rem;
}

.section-bg h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 70px;
    height: 5px;
    background: var(--secondary-color);
    bottom: -7px;
    left: 0;
    border-radius: 3px;
}

/* Links */

/* Sections */
.section-bg {
    background: linear-gradient(180deg, #f2f6f9 0%, #fff 100%);
    padding: 6rem 0;
}

.section-shadow {
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.bg-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

@media (max-width: 1024px) {
    .bg-image {
        background-attachment: scroll;
    }
}

/* Paralax Image Effect */
.paralax-overlay {
    background-color: #415162;
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.6;
}

.paralax {
    position: relative;
    padding: 8rem 0;
}

/* -------------------- 
    Hero Section
-------------------- */
#hero {
    /* position: relative; */
    background: url("../img/hero-bg.jpg") center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.btn-started {
    /* position: absolute;
    bottom: 50px;
    left: 50vw; */
    font-size: 3rem;
    transition: 0.5s;
    color: var(----primary-light-color);
    height: 60px;
}

.btn-started:hover {
    padding-top: 10px;
    color: var(--secondary-color);
}

/* -------------------- 
    About Section
-------------------- */
#personal-detail {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

/* -------------------- 
    Resume Section
-------------------- */
#resume {
    background-image: url(../img/resume-bg.jpg);
    padding: 8rem 0;
    color: #fff;
}

/* -------------------- 
    Footer Section
-------------------- */
footer {
    color: #fff;
    padding: 1rem 0;
}
